<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">To Do List.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if(!user) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            第三方登入
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/auth/google">Google</a></li>
            <li><a class="dropdown-item" href="/auth/facebook">Facebook</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">登入</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">註冊</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">儲存</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">登出</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if(!user) { %> <% } else { %>
<h1><%= user.username.toUpperCase() %>, wellcome!!</h1>
<% if(user.thumbnail) { %><img src="<%= user.thumbnail %>" alt="thumbnail" /><%
} %> <% } %> <%= errorMessage %>
