<% if(!user) { %> <% } else { %> <% if(user.thumbnail) { %>
<div class="profile">
  <div class="photoContainer">
    <img class="photo" src="<%= user.thumbnail %>" alt="thumbnail" />
  </div>
  <% } %>
  <span class="greeting"><%= user.username.toUpperCase() %>, wellcome!!</span>
  <% } %>

  <span class="message"><%= errorMessage %><%= saveMessage %> </span>
</div>
