<!DOCTYPE html>
<html lang="zh_Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Steven Ke" />
    <meta name="description" content="描述網站內容" />
    <meta name="robot" content="index, follow" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
    <title>網頁標題</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <% if(!user) { %>
    <h1>Project_index</h1>
    <% } else { %>
    <h1><%= user.username.toUpperCase() %>, wellcome!!</h1>
    <% if(user.thumbnail) { %><img
      src="<%= user.thumbnail %>"
      alt="thumbnail"
    /><% } %> <% } %> <%= errorMessage %>
    <ul>
      <% if(!user) { %>
      <li><a href="/user/login">Login</a></li>
      <li><a href="/user/register">Register</a></li>
      <li><a href="/auth/google">Google Authentication</a></li>
      <li><a href="/auth/facebook">Facebook Authentication</a></li>
      <% } else { %>
      <li><a href="/user/logout">Logot</a></li>
      <% } %>
    </ul>
  </body>
</html>
