<!DOCTYPE html>
<html lang="zh_Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Steven Ke" />
    <meta name="description" content="描述網站內容" />
    <meta name="robot" content="index, follow" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
    <title>User Register</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <h2>User Register</h2>
    <%= errorMessage %>
    <form action="/register" method="post">
      <div>
        <label for="username"
          >Username:
          <input type="text" name="username" id="username" />
        </label>
      </div>
      <div>
        <label for="email"
          >E-mail:
          <input type="email" name="email" id="email" />
        </label>
      </div>
      <div>
        <label for="password"
          >Password:
          <input type="password" name="password" id="password" />
        </label>
      </div>
      <div>
        <button type="submit">註冊</button>
      </div>
    </form>
    <a href="/">回首頁</a>
  </body>
</html>
