<!DOCTYPE html>
<html lang="zh_Hant">
  <head>
    <%- include('./components/head') %>
  </head>
  <body>
    <%- include('./components/nav') %>
    <h2>User Register</h2>
    <%= errorMessage %>
    <form action="/user/register" method="post">
      <div>
        <label for="username"
          >Username:
          <input type="text" name="username" id="username" />
        </label>
      </div>
      <div>
        <label for="email"
          >E-mail:
          <input type="email" name="email" id="email" />
        </label>
      </div>
      <div>
        <label for="password"
          >Password:
          <input type="password" name="password" id="password" />
        </label>
      </div>
      <div>
        <button type="submit">註冊</button>
      </div>
    </form>
    <a href="/">回首頁</a>
  </body>
</html>
